.InfoBox {
   flex: 1;
   cursor: pointer;
}

.InfoBox:not(:last-child) {
   margin-right: 15px;
}

.infobox_cases {
   color: #cc1034;
   font-weight: 600;
   font-size: 1.75rem;
   margin-bottom: 0.5rem;
}
.active {
   border-top: 10px solid #cc1034;
}
.active-green {
   border-top: 10px solid #11b943;
}
.green {
   color: #11b943;
}
.infobox_total {
   color: #6c757d;
   font-weight: 700 !important;
   font-size: 0.8rem !important;
   margin-top: 15px !important;
}

@media only screen and (max-width: 600px) {
   .InfoBox {
      width: 90%;
      margin: 10px 0 10px 0;
   }
}
